@media only screen and (max-width:1550px){


.op{
    background-color: darkcyan;
    border: black 5px solid;
    border-radius: 15px;
    margin: 20px;
    width: 300px;
    padding: 20px;


}

}
