*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: darkgrey;
    color: black;
}
.main{
    display: grid;
    justify-content: center;
    gap: 250px;
}
.button{
    border: black 5px solid;
    padding: 20px;
    border-radius: 15px;
    background-color: darkcyan;
}
a{
    text-decoration: none;
    color: black;
}

.op{
    background-color: darkcyan;
    border: black 5px solid;
    border-radius: 15px;
    margin: 20px;
    width: 700px;
    padding: 20px;


}
.answers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
.return{
    background-color: darkcyan;
    border: 5px black solid;
    border-radius: 15px;
    margin: 20px;
}
.secret h3{
    color: darkgray;
}
@keyframes rgb{
    0%{
        
            color: black;
        
        

    }
    10%{
        
            color: yellow;
        


    }
    20%{
        
            color: brown;
        
    }
    30%{
    
            color: green;
        
    }
    40%{
        
            color: blanchedalmond;
        
    }
    50%{
        
            color: chocolate;
        
    }
    60%{
        
            color: blueviolet;
        
    }
    70%{
    
            color: cyan;
        
    }
    80%{
        
            color: crimson;
        

    }
    90%{
        
            color: dimgray;
        
    }
    100%{
        
            color: antiquewhite;
        
    }
}

.win h1{
    animation: rgb 5s infinite;
}
.title{
    display: grid;
    justify-content: center;
}
.op:hover{
    transform: scale(1.15);
    transition: 1s;
}
.button:hover{
    transform: scale(1.15);
    transition: 1s;
}
.return:hover{
    transform: scale(1.15);
    transition: 1s;
}




